* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
	color: #333333;
	font-weight: bold;
	font-size: 175%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}
h2{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 40%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1%;
	color: #ffffff;
}
p {
	padding-top: 30px;
}
section {
	border: 1px solid black;
	background-color: #999999;
	position: relative;
}
.Chicken h2 {
	background-color: #7A8547;
}
.Beef h2 {
	background-color: #7A5266;
}
.Sushi h2 {
	background-color: #994433;
}
.wrapper {
	width: 100%;
}
div, section {
	padding: 15px;
}
/****************Desktop Version*****************/
@media (min-width: 992px) {
	.lg {
		float: left;
		width: 33.33%;
	}	
	h1 {
		margin-bottom: 40px;
	}
	span {
		display: none;
	}
}
/****************Tablet Version*****************/
@media (min-width: 768px) and (max-width: 991px) {
	.md, .md2 {
		float: left;
	}
	.md {
		width: 50%;
	}
	.md2 {
		width: 100%;
	}	
	.md2 h2 {
		width: 19%;
		padding: 0.5%;
	}
}
/****************Mobile Version*****************/
@media (max-width: 767px) {
	.sm {
		float: left;
		width: 100%;
	}	
	span {
		display: none;
	}
	.sm h2 {
		width: 40%;
		padding: 1%;
	}
}